* {
	margin: 0;
	font-family: 'Lato', sans-serif;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

html {	
	scroll-behavior: smooth;
}

.menu_bar {
	display: none;
}

/* ------ Header ------ */

.banner_imagen {
	width: 100%;
	height: 86vh;
	background-image: url(../components/imagenes/Portada/BARCO.JPG);
	background-attachment:fixed;
	background-size:cover;
	margin-bottom: 50px;
}

.banner_opacity {
	background: rgba(0,0,0,.4);
	height: 86vh;
	width: 100%;
	display: flex;
}

/* nav */

.container-header {
	width: 100%;
	background: white;
	display: flex;
	flex-direction: row;
	height: 25%;
	justify-content:space-between;
}

.container-header .container-image .logo-image {	
	width: 80%;
	padding: 80px;
}

header .container-header nav {
	width: 40%;
	font-weight: bold;
	margin-top: 133px;
}
 
header nav ul {
	list-style: none;
	box-shadow: 10px 10px 30px grey;
	padding: 10px;
	background-color: #150d2d;
	border-radius: 5px;
}
 
header nav ul li {
	display: inline-block;
	position: relative;
}
 
header nav ul li a {
	color:#f2f2f2;
	display: inline-block;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 20px;
}

header nav ul a:hover {
	color:#DBE6FD;
	border-bottom:#DBE6FD solid 1px;
}

header nav ul .sub-menu__link:hover {
	background-color: #150d2d;
	color: #DBE6FD;
	transition: 0s;
}
 
header nav ul li:hover .sub-menu__content {
	display: block;
}
 
.sub-menu__content {	
	display: none;
	position: absolute;
	background-color: #150d2d;
	min-width: 185px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
	padding: 0px;
	margin: 0px;
}
 
header nav ul li .sub-menu__content li {
	display: block;
	overflow: hidden;
}
 
.sub-menu__content li a {	
	color: white;
	padding: 14px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}
/* ------ /Header ------ */

/* ------ Cuerpo Página ------ */
.main {
	width: 75%;
	height: 100%;
	margin-right: 12.5%;
	margin-left: 12.5%;
	margin-bottom: 2%;
}

.container-column {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;

}

/* ------ Article  ------ */

.column-curso {
	width: 80%;
	display: flex;
	flex-direction: column;
	padding: 0 20px 0 20px;
	line-height: 1.7;
	margin-bottom: 10%;
}

.column-curso__title {
	color: #150d2d;
	font-size: 28px;
	margin-bottom: 30px;
}

.column-curso__item {
	font-size: 22px;
	margin-right: 10px;
	color: #150d2d
}

.column-curso__text {
	line-height: 1.7;
	text-align: left;
	letter-spacing: 0.5px;
	margin-bottom: 60px;
	font-size: 20px;
}

/* --- Slideshow --- */
.slideshow-container {
	max-width: 1000px;
	position: relative;
	margin: auto;
}

.slideshow-container .mySlides img {
	border-radius: 10px;
}
  
/* Number text (1/3 etc) */
.numbertext {
	color: #f2f2f2;
	font-size: 12px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}
  
/* The dots/bullets/indicators */
.dot {
	height: 15px;
	width: 15px;
	margin: 0 10px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color 0.6s ease;
}
  
.active2 {
	background-color: #717171;
}
  
/* Fading animation */
.fade {
	-webkit-animation-name: fade;
	-webkit-animation-duration: 1.5s;
	animation-name: fade;
	animation-duration: 1.5s;
}
  
@-webkit-keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
}
  
@keyframes fade {
	from {opacity: .4} 
	to {opacity: 1}
}
  
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
	
	.text { font-size: 11px }
}
/* --- /Slideshow --- */

/* ------ Collapsible BOX ------ */
.container-cursos {
	display: flex;
	flex-direction: column;
}

/* Style the button that is used to open and close the collapsible content */

.cursos_collapsible {
	background-color: #150d2d;
	color: white;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 16px;
	border-radius: 10px;
}

.cursos_collapsible:hover {background-color: #306bac;}

.cursos_collapsible__text{
	font-weight: bold;
	letter-spacing: 0.5px;
	font-size: 18px;	
}
  
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .cursos_collapsible:hover {transition: 0.6s;}
  
/* Style the collapsible content. Note: hidden by default */
.content {
	width: 100%;
	background-color: white;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	color: #150d2d;
	margin-top: 2%;
	margin-left: 2%;
	margin-bottom: 2%;
}

.cursos_collapsible:after {
	content: '\002b';  /* Unicode character for "plus" sign (+) */
	font-size: 16px;
	color: white;
	float: left;
	margin-right: 10px;
}

.active{background-color: #306bac;}

/* Unicode character for "minus" sign (-) */
.active:after {content: "\2212 ";}

/* ------ /Collapsible BOX ------ */

/* ------- Column ¿Por qué nosotros? ------- */
.column-pqnos {
	width: 30%;
	height: 1250px;
	margin-bottom: 60px;
	text-align: left;
	margin-left: 16px;
    padding-left: 64px;
	border-left: 1px solid #e1e1e1;
}

.pqnos-content {
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
}

.pqnos__title {
	margin-bottom: 3%;
	font-size: 20px;
}

.pqnos__title-subrayado {
	width: 25%;
	height: 2px;
	background-color: #150d2d;
	margin-left: 3%;
	margin-bottom: 25%;
}

.pqnos__item{
	border-bottom: 1px solid #cccccc;
	padding-bottom: 20px;
	line-height: 1.5;
	letter-spacing: 0.04em;
	color: #150d2d;
	font-size: 18px;
}
/* ------- /Column ¿Por qué nosotros? ------- */
/* ------ /Cuerpo Página ------ */

/* ------ Footer ------ */
.container-footer{
	width: 100%;
	height: 150px;
	background-color: #150d2d;;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
}

.footer__title {
	font-size: 18px;
	color: #f2f2f2;
	margin-right: auto;
	margin-left: auto;
	letter-spacing: 2px;
    text-align: center;
    padding: 0px 50px;
    line-height: 20px;
}
/* ------ /Footer ------ */

/* ------------ Responsive ------------ */
/* ------ (min-width = 1015px) & (max-width = 1359px)  ------ */
@media screen and (min-width: 1015px) and (max-width: 1359px) {

	.container-header {
		flex-direction: column;
	}

	.container-header .container-image .logo-image {
		width: 50%;
		padding: 30px;
		margin-left: 10px;
	}

	header .container-header nav {
		width: 100%;
		font-weight: bold;
		margin-top: 0px;
		margin-left: 0px;
	}

	header .container-header nav ul {
		margin-left: 0px;
	}
	
	.container-column {
		flex-direction: column;
	}

	.column-curso {
		width: 100%;
		margin-bottom: 5%;
	}
	
	.cursos_collapsible {
		padding: 16px;
		font-size: 16px;
		line-height: 1.7;
	}

	.column-pqnos {
		width: 103%;
		height: 100%;
		margin-bottom: 15%;
		margin-left: 0px;
		padding-left: 0px;
		border-left: none;
		border-top: 1px solid #e1e1e1;
		padding-top: 5%; 
	}

	.pqnos__title {
		margin-bottom: 2%;
	}

	.pqnos__title-subrayado {
		width: 17%;
		margin-left: 1%;
		margin-bottom: 10%;
	}
}
/* ------ /(min-width = 1015px) & (max-width = 1359px)  ------ */

/* ------ (max-width = 1014px)  ------ */
@media screen and (max-width: 1014px) {

	.container-header {
		flex-direction: column;
		align-items: center;
	}

	.container-header .container-image .logo-image {
		width: 100%;
		padding: 30px;	
	}

	header .container-header nav {
		width: 100%;
		font-weight: bold;
		margin-top: 0px;
		margin-left: 0px;
	}

	header .container-header nav ul {
		box-shadow: none;
	}

	/* ESTRUCTURA */

	.main {
		width: 80%;
		margin-left: auto;		
	}

	.container-column {
		flex-direction: column;
	}

	.column-curso {
		width: 100%;
	}

	.column-curso__text {
		width: 100%;
		display: flex;
		flex-direction: column;
		line-height: 1.8;
		font-size: 18px;
	}

	.cursos_collapsible {
		padding: 18px;
	}

	.content {
		margin-top: 5%;
		margin-bottom: 5%;
	}

	.column-pqnos {
		width: 106%;
		height: 100%;
		margin-bottom: 15%;
		margin-left: 0px;
		padding-left: 0px;
		border-left: none;
		border-top: 1px solid #e1e1e1;
		padding-top: 5%;
	}

	.pqnos__title {
		margin-bottom: 2%;
	}

	.pqnos__title-subrayado {
		width: 20%;
		margin-bottom: 10%;
		margin-left: 1%;
	}

	/* FOOTER */

	.container-footer {
		height: 175px;
	}

	.footer__title {
		font-size: 16px;
	}
}
/* ------ /(max-width = 1014px)  ------ */
/* ------------ /Responsive ------------ */